.w3-steelblue,  .w3-hover-steelblue:hover {
    color: #fff !important;
    background-color: steelblue !important
}
.w3-text-steelblue {
	color: steelblue;
}
.w3-display-middleleft {
    position: absolute;
    left: 0;
    bottom: 10%
}



#level50 {
	animation: incBar50;
	animation-fill-mode:  forwards;
	animation-duration: 7s;
}
#level60 {
	animation: incBar60;
	animation-fill-mode:  forwards;	
	animation-duration: 10s;
}
#level70 {
	animation: incBar70;
	animation-fill-mode:  forwards;	
	animation-duration: 7s;
}
#level75 {
	animation: incBar75;
	animation-fill-mode:  forwards;
	animation-duration: 6s;
}
#level80 {
	animation: incBar80;
	animation-fill-mode:  forwards;
	animation-duration: 5s;
}
#level90 {
	animation: incBar90;
	animation-fill-mode:  forwards;
	animation-duration: 4s;
}
#level95 {
	animation: incBar95;
	animation-fill-mode:  forwards;
	animation-duration: 8s;
}
#level100 {
	animation: incBar100;
	animation-fill-mode:  forwards;	
	animation-duration: 9s;
}

@-webkit-keyframes incBar50 {
	from {width: 0%;}
	to {width: 50%;}
}
@-webkit-keyframes incBar60 {
	from {width: 0%;}
	to {width: 60%;}
}
@-webkit-keyframes incBar70 {
	from {width: 0%;}
	to {width: 70%;}
}
@-webkit-keyframes incBar75 {
	from {width: 0%;}
	to {width: 75%;}
}
@-webkit-keyframes incBar80 {
	from {width: 0%;}
	to {width: 80%;}
}
@-webkit-keyframes incBar90 {
	from {width: 0%;}
	to {width: 90%;}

}
@-webkit-keyframes incBar95 {
	from {width: 0%;}
	to {width: 95%;}
}
@-webkit-keyframes incBar100 {
	from {width: 0%;}
	to {width: 100%;}
}

#txAd {
	-webkit-animation-name: numbUp;
	-webkit-animation-duration: 4s;
}

@-webkit-keyframes numbUp {
	from {}
}

.jsSwing {

}

i:hover {
	-webkit-animation-name: iSwing;
	-webkit-animation-duration: 0.16s;
	animation-timing-function:linear;
	animation-iteration-count: 4;

}




@-webkit-keyframes iSwing {
	from {    transform: rotate(-20deg);}
	 to {transform: rotate(20deg);}
} 


/* effects in my picture */

.myAvatar {
	width:  100%;
	position: centered;
	filter: brightness(300%);
	animation: photoEffect;
	animation-fill-mode:  forwards;
	animation-duration: 4s;

}
@-webkit-keyframes photoEffect {
	from {filter: brightness(250%) grayscale(100%);}
	to {filter: brightness(100%) grayscale(0%);}}